$col: green;

$primary-brand-color: #ff6a00;
$important-action-color: #ff1000;
$secondary-action-color: #f70ecf;
$button-text-color: white;

$base-font-size: 16pt;
$buttonFontSize: 30pt;

$button-width: 200px;
$button-padding: 10px 30px 10px 20px;

$notDefined: blue;